<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/javascripts/socket-io/socket.io.min.js"></script>
  <script>
    const socket_IO = io({
      path: "/obs-element-socket",
      reconnectionDelay: 1000,
      reconnection: true,
      reconnectionAttemps: 10,
      transports: ['websocket'],
      agent: false,
      upgrade: false,
      rejectUnauthorized: false
    });

    socket_IO.on('connect', (socket) => {
      document.getElementById("text").innerText = "NO text";
    });

    socket_IO.on('BOTTOM_TEXT_BAR', function (data) {
      console.log(data);
      document.getElementById("text").innerText = data.text;
      document.getElementById("text").style.backgroundColor = data.color;
    });

  </script>
  <title>Bottom text bar</title>
  <style>
    .bar-background {
      display: flex;
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      justify-content: center;
      align-items: center;
    }

    #text {
      color: white;
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <div class="bar-background">
    <marquee id="text" behavior="scroll" direction="left" scrollamount="18">
    </marquee>
  </div>
</body>

</html>